
.gatewayWrapper {
    background-color: #f4f6f9;
    border-bottom: 1px solid #eaedf2;
}
.gatewayInterGate{
    display: flex;
    justify-content: space-between;
    width: 1280px; margin: 0 auto;
}



/*홈 투어 티켓 쇼핑 왼쪽 여백주기 */
.navbar-nav {
    float: left;
    margin-left: 150px;
    padding: 8px;
   text-decoration: none;

}
/*로그인 회원가입 마이페이지 오른쪽 여백주기*/
.gatewayMenus {
    float: left;
    margin-right:150px;
    padding: 8px;
    
}
/*인터파크로고 왼쪽에 여백주기*/
.headerLogo {
    float: left;
    margin-left: 150px;
    padding: 8px;
}
/*검색어창 옮기기 라이트 건들이기*/
.headerserch1 {
    float: left;
    margin-right:0px;
    padding: 8px;
}
/*돋보기 옮기기 라이트건들이기 검색어 0주고 돋보기 옮겨야함*/
.headerserch2 {
    float: left;
    margin-right:900px;
    padding: 8px;
}

/*여행혜택존 오른쪽 여백주기*/
.seasonNavigation {
    float: left;
    margin-right:150px;
    padding: 8px;
}

.gatewayMenus {
    text-decoration:none;
    padding-left: 7px;
}

.seasonBannertravel {
    padding-left: none;
    text-decoration:none;
    margin-right: 30px;
    text-decoration: none;
    min-height: 50px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 50px;
    margin-right: 10px;
       
}
.seasonNavigationtrophy {
    .seasonNavigation .seasonBanner {
        display: inline-block;
        min-height: 50px;
        font-size: 0;
        vertical-align: top;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}