html {
    text-size-adjust: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* font-size: 62.5%; */
    background-color: #fff;
  }
  abbr, address, article, aside, audio, b, blockquote, body, canvas,
   caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, 
   figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, 
   ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, 
   span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    vertical-align: baseline;
    background: transparent;
   }
  body * {
    letter-spacing: 0;
    word-spacing: 0;
  }
  ol, ul {
    list-style: none;
  
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style:none;
  }
  li {
    display: list-item;
    
  }
  div {
    display: block;
  }
  p { 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
  }
  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
  }
  
  article, aside, details, figcaption, figure
  , footer, header, hgroup, menu, nav, section {
    display: block;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .contentWrapper {
    width: 100%;
    min-width: 32rem;
    margin: 0 auto;
}
a{text-decoration:none; color:#333;}
.wrap{padding:15px; letter-spacing:-0.5px;}
.tab_menu{
  position:relative;
  height: 600px;
}
.tab_menu .list{
  display: flex;
  justify-content: center;
  
}
.tab_menu .list li{float:left; margin-right:14px;}
.tab_menu .list .btn{
  display: flex;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 5px;
  text-align: center;
  justify-items: center;
}
.tab_menu .list .cont{
   display:none;
   position:absolute;
   top: auto;
   left:0px;
   /* background:#555; */
   color:#fff;
   text-align:center;
   width: 100%;
   
  }
  .itemBorder {
    border: 1px solid #e9f0fe;
    box-sizing: border-box;
  }
  /* .itemImage {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    
} */

  .itemImage img {
    height: 24rem;
    object-fit: cover;
  }
.tab_menu .list li.is_on .btn{
  background-color: #e9f0fe;
    color : #1769ff;
    border-color: #73afff;
    text-shadow: 0.025rem 0 0.01rem, -0.025rem 0 0.01rem;
    
}
.swiper.mySwiper5 .swiper-slide {
  width: 200px;
  gap: 20px;
}
.tourMain .itemInfo {
  top : 400px;
  right: 350px;
}

.tourMain .itemBadge i {
  line-height: 2.4rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    background-color: #1769ff;
    display: inline;
    
}
.tab_menu .list li.is_on .cont{
  display:flex;

}
@media (min-width: 761px){
  /* .tourMain .itemInfo {
     padding: 2.2rem 2rem 2rem;
  } */
  
  .tourMain .itemBenefit {
    /* font-size: 1.7rem; */
    color: #1769ff;
    
  }
}